# Virtual environment
venv/
env/
AENV/

# Python cache
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3

# Environment variables
.env

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db